#Question {
    width: 60%;
    padding: 1.5em;
    background-color: var(--lightGrey);
    border: 1px solid var(--grey);
    border-radius: 4px;

    .titleBox {
        cursor: pointer;
        display: flex;
        align-items: center;
        max-width: 100%;

        .ques {
            word-break: keep-all;

            &::selection {
                color: black;
                background-color: var(--lightGrey);
            }
        }
    }

    .question {
        overflow: hidden;
        max-height: 0px;
        transition: 0.6s linear;
        border-top: 0;
        padding-top: 0;
        margin-top: 0;
    }

    .question.active {
        max-height: 500px;
        border-top: 1px solid var(--grey);
        padding-top: 1em;
        margin-top: 1em;
    }
}